@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:ital,wght@0,300;0,500;0,600;1,400&display=swap");
body {
  font-family: "Fira Code", monospace;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
}
img {
  max-width: 100%;
  height: auto;
}
.logo img {
  max-width: 80%;
}
.main-menu {
  margin: 0;
  padding: 0;
  text-align: right;
}

.main-menu li {
  list-style: none;
  display: inline-block;
}

.main-menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 13px;
  font-weight: 500;
}
.main-menu li a:hover, #active {
  color: #ca9a26;
}
.homepage-slides {
  background: #263238;
  color: #fff;
}
.slide-text h2 {
  color: #ca9a26;
  margin-bottom: 30px;
  letter-spacing: 1px;
  line-height: 1.4;
  font-weight: normal;
}
a.read-more-btn {
  color: #ca9a26;
  border: 1px solid #ffff;
  padding: 9px 28px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}
a.read-more-btn > i.fa {
  margin-left: 5px;
}
.slide-text {
  padding: 160px 0;
}
.slide-text p {
  letter-spacing: 1px;
  margin-bottom: 30px;
  line-height: 2;
  font-size: 1rem;
}
.single-item img {
  max-height: 500px;
  position: absolute;
  bottom: 0;
  right: 73px;
}
.single-item .row {
  position: relative;
}
.header-area {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  padding: 20px 0;
}
